/* Colors */
$primary-color: #4bc3f1;
$danger-color: rgba(150,0,0,1);
$secondary-color: #ff0071;
$background-color: #1d1d1b;

$circuit-board-color: rgba(55, 60, 48, 0.9);
$circuit-lines-color: rgba(107, 102, 69, 0.6);
$circuit-lines-lit: rgba(218, 176, 93, 1);

$logo-color: #F0BF2C;
$logo-unlit-color: #3E3E39;
$logo-flicker-color: #FAD155;

$LED-on-color: #FFA927;
$LED-off-color: #121212;

$LED-SM-on-color: #5B7A30;
$LED-SM-off-color: #121212;

$btn-active: #969386;

$btn-inActive: #b6b3a6;

/* Styling */
$font-size-base: 16px;
$spacing-unit: 8px;
